.App {
  text-align: center;
}

.par {
  padding:20px 45px;
  font-size:30px;
  color: white;
  border:none;
  background:none;
  outline:none;
  position:relative;
  z-index:0;
  margin:15px;
  height: auto;
  width: 40%;
}
.par:before,
.par:after {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  left:0;
  right:0;
  bottom:0;
  clip-path: polygon(0 0%, 100% 0, 98% 88%, 0% 96%);
  transition:1s all;
  background:#EDC300;
}
.par:before {
 background:#000;
 transform:scale(1.02,1.10);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
